@import "tailwindcss";

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode text */
  --primary: #E30A17;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark mode background */
    --foreground: #ededed; /* Dark mode text */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family is now handled by Tailwind and Geist font in layout.tsx */
}
